
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*parte de arriba*/
.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.bakbak-one-regular {
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.barra-navegacion-productos {

    background-color: #444;
    background-size: cover;
    min-height: 8vh;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar-brand {
    font-size: 2rem;
}

.navbar .navbar-brand {
    font-size: 2rem;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-nav .nav-link {
    margin-right: 70px;
    /* Ajusta el valor según sea necesario */
    font-size: 20px;
}
.navbar-brand {
    font-family: "Lilita One", sans-serif;
}


    /* registro -  */
    .checkout-btn {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .checkout-btn:hover {
        background-color: #0056b3;
    }
    
    
    .registration-form {
        width: 300px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #ccc ;
    
    }
    
    .registration-form h2 {
        text-align: center;
    }
    
    .form-group {
        margin-bottom: 15px;
    }
    
    .form-group label {
        display: block;
        font-weight: bold;
    }
    
    .form-group input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    
    button[type="submit"] {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    button[type="submit"]:hover {
        background-color: #0056b3;
    }
    video.video-background{
        overflow: clip;
        
    }
    
    .video-background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -1;
       
    }
    
    #video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Ajusta el último valor para cambiar la opacidad */
    }
    