body {
    margin: 0px;

}

.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.bakbak-one-regular {
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.carousel-caption {
    position: relative;
    top: 10%;
    /* Mover hacia arriba */
    left: 10%;
    /* Mover hacia la izquierda */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    /* Reducir el espacio de relleno */
    background-color: rgba(0, 0, 0, 0.2);
    width: 40%;
    /* Reducir el ancho */
    height: 20%;
    /* Reducir la altura */
    text-align: center;
}

.barra-navegacion-productos {

    background-color: #444;
    background-size: cover;
    min-height: 8vh;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.carousel-caption h5 {
    font-size: 40px;
    font-family: "Kanit", sans-serif;
}

.carousel-caption p {
    font-size: 20px;
    font-family: "Kanit", sans-serif;
}


.container-fluid {
    font-family: "Kanit", sans-serif;
}



.navbar-brand {
    font-size: 2rem;
}

.navbar .navbar-brand {
    font-size: 2rem;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-nav .nav-link {
    margin-right: 70px;
    /* Ajusta el valor según sea necesario */
    font-size: 20px;
}



.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titulo-Opiniones-Clinetes {
    margin-top: 50px;
    font-family: "Lilita One", sans-serif;
    font-size: 70px;
    justify-content: center;
    text-align: center;
}

.opiniones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: center;
}

.navbar-brand {
    font-family: "Lilita One", sans-serif;
}


.opinion {
    flex: 0 0 45%;
    /* Establecer el ancho máximo de cada opinión */
    margin: 10px;
    /* Añadir un espacio entre las opiniones */
    padding: 10px;
    /* Añadir espacio dentro de cada opinión */
    border: 1px solid #ccc;
    /* Añadir un borde para mayor claridad */
}

.opinion .nombre {
    font-weight: bold;
}

.opinion .texto {
    margin-top: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h2 {
    margin-bottom: 15px;
}

.footer-section.productos h2 {
    margin-bottom: 5px;
    /* Ajusta el margen inferior del encabezado "Productos" */
}

.footer-section.productos .lista-productos {
    margin-top: 0;
    /* Ajusta el margen superior de la lista */
    padding-left: 20px;
    /* Ajusta el espacio entre el borde izquierdo y los elementos de la lista */
}

.links ul {
    list-style: none;
    padding: 0;
}

.links ul li {
    margin-bottom: 10px;
}

.forma-contacto {
    display: flex;
    flex-direction: column;
}



.footer-bottom {
    text-align: center;
    padding-top: 20px;
    background-color: #444;
    color: #ddd;
}

.social-icon {
    color: #000;
    /* Color negro para los íconos */
    text-decoration: none;
    /* Quitar subrayado en los enlaces */
}

.social-icon:hover {
    color: #000;
    /* Color negro al pasar el mouse sobre los íconos */
}

#botones-rss {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botones-rss i {
    text-align: center;
    font-size: 25px;
    color: black;
    margin: 20px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, .35);
    transition: 1s ease;
}

#navbar-custom-icons {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-custom-icons i {
    text-align: center;
    font-size: 25px;
    color: white;
    margin-right: 15px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, .35);
    transition: 1s ease;
}

.fa-facebook:hover {
    background-color: blue;
    color: white;
    box-shadow: 0 0 15px blue,
        0 0 45px blue,
        0 0 75px blue,
        0 0 115px blue;
}

.fa-instagram:hover {
    background-color: #FF3E00;
    color: white;
    box-shadow: 0 0 15px #FF3E00,
        0 0 45px #FF3E00,
        0 0 75px #FF3E00,
        0 0 115px #FF3E00;
}


.fa-user:hover {
    background-color: #1b89f0;
    color: white;
    box-shadow: 0 0 15px #1b89f0,
        0 0 45px #1b89f0,
        0 0 75px #1b89f0,
        0 0 115px #1b89f0;
}

.fa-shopping-cart:hover {
    background-color: #38f742;
    color: white;
    box-shadow: 0 0 15px #38f742,
        0 0 45px #38f742,
        0 0 75px #38f742,
        0 0 115px #38f742;
}


/* beneficios */
.container {
    width: 80%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.columna-beneficios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.columna-beneficios img {
    margin: 10px;
}

.columna-beneficios-textos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.columna-beneficios-textos p {
    margin: 10px;
}

hr {
    width: 100%;
    margin: 20px 0;
}

.conteiner_contacto {

    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}