<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section about">
                <h2>Sobre Nosotros</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, id repellendus?
                    Laudantium, quae neque.
                    Explicabo, eius? Ipsa doloremque, asperiores, neque at sunt ea quos laudantium eligendi maiores
                    rem excepturi illum.</p>
            </div>
            <div class="footer-section productos">
                <h2>Productos</h2>
                <ul class="lista-productos">
                    <li>Chocolate Caliente</li>
                    <li>Cápsulas</li>
                    <li>Café en grano</li>
                    <li>Cápsulas Espresso</li>
                    <li>Packs de cápsulas</li>
                </ul>
            </div>
            <div class="footer-section links">
                <h2>Enlaces Rápidos</h2>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="footer-section forma-contacto">
                <h2>Contactanos</h2>
                <p>Ingresar direccion</p>
                <p>E-mail: ingresar correo</p>
                <p>Whatsapp: </p>
            </div>
        </div>
    </div>


    <div class="footer-bottom">
        &copy; 2024 Tu Empresa | Todos los derechos reservados
        <div class="botones-rss">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><i
                    class="fa-brands fa-instagram"></i></a>
        </div>

    </div>



</footer>